// sidebar
$menuText: #999999;
$menuActiveText:#FFFFFF;
$subMenuActiveText:#FFFFFF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#191A23;
$menuHover:#31313b;

$subMenuBg: #31313b;
$subMenuHover: #525252;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
